.users {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: calc(100% - 64px);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 24px;
  }
  
  .users__item {
    padding: 30px;
  }
  
  .users__item p {
    margin-top: 0;
    margin-bottom: 8px;
  }